@import "src/@fuse/scss/fuse";

.mat-card {
  margin: 5px !important;
  padding: 5px !important;
}
.CardFont {
  // font-family: Montserrat !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.Title {
  @extend .CardFont;
  font-size: 25px;
  color: whitesmoke;
  // border-bottom: 1px solid #f44336;
}

.SubTitle {
  @extend .CardFont;
  font-size: 16px;
  font-weight: 500;
  color: whitesmoke;
}
.ra {
  text-align: right !important;
  padding-right: 20% !important;
}

// .formField {
//   width: 300px !important;
// }
// .example-container {
//   min-height: 600px;
//   background: white;
// }
// .search-input-wrapper {
//   max-width: 480px;
// }
// .report-table {
//   flex: 1 1 auto;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.12);
//   overflow: auto;
//   -webkit-overflow-scrolling: touch;
// }
// table {
//   width: 100%;
// }
// th.mat-sort-header-sorted {
//   color: black;
// }
// // .mat-row {
// //   cursor: pointer;
// // }
// .mat-row, .mat-header-row {  
//   min-width: 2800px;  
//   cursor: pointer;
//   width: 100%;  
//   min-height: 64px;
// } 
// .mat-row:hover {
//   background-color: lightgrey;
// }
// // .mat-header-row {
// //   min-height: 64px;
// // }

// .product {
//   position: relative;
//   cursor: pointer;
//   height: 64px;
// }

// .mat-cell {
//   min-width: 0;
//   padding: 8px;
//   // text-align:center;
//   align-items: center;
// }
.data {
  // display: block;
  // width: 95vw;
  overflow: auto;
  height: 38vh !important;
  min-height: 38vh !important;
  max-height: 38vh !important;
  .table {
    width: 100vw;
    max-width: 100%;
    overflow: auto;
    margin-bottom: 10px;
    display: table;
    border-collapse: collapse;
    margin: 0px;
    // background-color: rgb(238, 238, 238);
  }
  
  .row,
  .header-row {
    display: table-row;
    min-height: 40px !important;
  }

  .cell,
  .header-cell {
    word-wrap: initial;
    display: table-cell;
        padding: 0px 10px;
    line-break: unset;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
  }

  .header-row,
  .header-cell {
    margin: 0 auto;
    min-height: 120px !important;
    text-align: center;
    vertical-align: middle;
    align-self: center;
  }

  .mat-card {
    min-width: max-content;
    max-width: max-content;
  }

  .sort-header {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-size: 12pt;
  }

  .header-cell {
    font-weight: bold;
  }
}
.contentForTiles {
  display: flex;
  flex: 1 1 auto;
  padding: 2px 2px 20px 2px;
  min-width: 0;

  @include media-breakpoint-down("md") {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;

    .widget {
      flex: 1 1 auto;
      min-width: 0;
    }
  }

  .right {
    display: flex;
    flex: 0 0 auto;
    width: 320px;
    min-width: 320px;
    max-width: 320px;

    @include media-breakpoint-down("md") {
      flex: 1 0 100%;
      margin-top: 32px;
      width: 100%;
      min-width: 0;
      max-width: none;
    }

    .fuse-card {
      @include media-breakpoint-down("md") {
        width: 100%;
        min-width: 0;
        max-width: none;
      }
    }
  }
}
.content {
  display: flex;
  flex: 1 1 auto;
  margin: 0px 32px -10px 32px;
  min-width: 0;

  @include media-breakpoint-down("md") {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;

    .widget {
      flex: 1 1 auto;
      min-width: 0;
    }
  }

  .right {
    display: flex;
    flex: 0 0 auto;
    width: 320px;
    min-width: 320px;
    max-width: 320px;

    @include media-breakpoint-down("md") {
      flex: 1 0 100%;
      margin-top: 32px;
      width: 100%;
      min-width: 0;
      max-width: none;
    }

    .fuse-card {
      @include media-breakpoint-down("md") {
        width: 100%;
        min-width: 0;
        max-width: none;
      }
    }
  }
}
.content1 {
  display: flex;
  flex: 1 1 auto;
  margin: 20px 52px 0px 32px;
  //padding: 0 80px;
  min-width: 0;

  @include media-breakpoint-down("md") {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;

    .widget {
      flex: 1 1 auto;
      min-width: 0;
    }
  }

  .right {
    display: flex;
    flex: 0 0 auto;
    width: 320px;
    min-width: 320px;
    max-width: 320px;

    @include media-breakpoint-down("md") {
      flex: 1 0 100%;
      margin-top: 32px;
      width: 100%;
      min-width: 0;
      max-width: none;
    }

    .fuse-card {
      @include media-breakpoint-down("md") {
        width: 100%;
        min-width: 0;
        max-width: none;
      }
    }
  }
}
