<div id="chat" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
      <div class="content-card">
          <mat-sidenav-container>
              <!-- <mat-sidenav class="sidenav" position="start" opened="true" mode="side" fuseMatSidenavHelper="chat-left-sidenav"
                  matIsLockedOpen="gt-md">
                  <app-stackupdate-left-bar [AllStackUpdates]="AllStackUpdates" (StackUpdateSelectionChanged)="OnStackUpdateSelectionChanged($event)">
                  </app-stackupdate-left-bar>
              </mat-sidenav> -->
              <app-stackupdate-right-bar [currentSelectedStackUpdate]="SelectedStackUpdate" (SaveSucceed)='RefreshAllStackUpdates($event)'
              (ShowProgressBarEvent)="OnShowProgressBarEvent($event)">
              </app-stackupdate-right-bar>
          </mat-sidenav-container>
          <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion" color="accent" mode="indeterminate"></mat-progress-spinner>
      </div>
  </div>
</div>
