@import "src/@fuse/scss/fuse";
.dash {
  background-image: url("/assets/images/backgrounds/dashBackground1.png"); /* The image used */
  // height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  margin-top: 30px !important;
}
.dash1 {
  //background-image: url("/assets/images/backgrounds/dashBackgroundPart1.png"); /* The image used */
  // height: 500px; /* You must set a specified height */
  // background-position: center; /* Center the image */
  // background-repeat: no-repeat; /* Do not repeat the image */
  // background-size: cover;
  margin-top: 20px;
  margin-bottom: -23px;
}

.dashBackGround1 {
  background-image: url("/assets/images/backgrounds/dashBackgroundPart3.png"); /* The image used */
  // height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  // margin-top: 30px !important;
}
#dashboard {
  .zeroClass {
    background-color: #5dc15d !important;
  }
  exceptionClass {
    background-color: rgb(218, 6, 87) !important;
  }
  .fourtyFeetContainerClass {
    background-image: linear-gradient(to right, #c1c0c0, #716d6d) !important;
    // background-color: grey !important;
  }
  .firstClass {
    background-image: linear-gradient(to right, #5dc15d, #efdc43);
  }
  .secondClass {
    background-color: #efdc43 !important;
  }
  .thirdClass {
    background-image: linear-gradient(to right, #efdc43, #e86363);
  }
  .fourthClass {
    background-image: linear-gradient(to right, #e86363, #5dc15d);
  }
  .fifthClass {
    background-color: #e86363 !important;
  }
  .slotContainer {
    border: 0.3px solid rgba(216, 212, 212, 1);
    height: 60px;

    cursor: pointer;
  }
  .slot {
    font-size: 22px;
    line-height: 1;
    margin-top: 8px !important;
    text-align: center;
    color: black;
  }
  .column2 {
    margin-bottom: 482px !important;
  }
  .column1 {
    margin-bottom: 362px !important;
    // margin-right: 222px !important;
  }

  .contentForTiles {
    padding: 2px 2px 20px 2px;
    // margin: 0px 32px -10px 32px;
  }
  .mat-card {
    margin: 5px !important;
    padding: 5px !important;
  }
  .CardFont {
    // font-family: Montserrat !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }
  .Title {
    @extend .CardFont;
    font-size: 18px;
    color: whitesmoke;
    // border-bottom: 1px solid #f44336;
  }

  .SubTitle {
    @extend .CardFont;
    font-size: 35px;
    font-weight: 500;
    color: whitesmoke;
  }
  .contentForDiagram {
    padding: 32px 10px 10px 10px;
    // background: url("/assets/images/backgrounds/dashBackground.png") no-repeat;
    //margin-right: 32px;
  }
  .contentForContent {
    //@at-root padding: 0px 32px 32px 32px;
    padding: 0px 2px 2px 2px;
    margin-top: -32px;
  }
  .contentForLegend {
    margin-top: -16px;
    margin-bottom: -42px;
    margin-right: 62px;
    margin-left: 30px;
  }
  // .formField {
  //   width: 300px !important;
  // }
  // .example-container {
  //   min-height: 600px;
  //   background: white;
  // }
  // .search-input-wrapper {
  //   max-width: 480px;
  // }
  // .report-table {
  //   flex: 1 1 auto;
  //   border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  //   overflow: auto;
  //   -webkit-overflow-scrolling: touch;
  // }
  // table {
  //   width: 100%;
  // }
  // th.mat-sort-header-sorted {
  //   color: black;
  // }
  // .mat-row {
  //   cursor: pointer;
  // }
  // .mat-row:hover {
  //   background-color: lightgrey;
  // }
  // .mat-header-row {
  //   min-height: 64px;
  // }

  // .product {
  //   position: relative;
  //   cursor: pointer;
  //   height: 64px;
  // }

  // .mat-cell {
  //   min-width: 0;
  //   padding: 8px;
  //   // text-align:center;
  //   align-items: center;
  // }
  // td.mat-cell:first-child {
  //   padding-left: 24px;
  // }

  .data {
    // display: block;
    overflow: auto;
    height: 33vh !important;
    min-height: 33vh !important;
    // max-height: 33vh !important;
    .table {
      width: 100%;
      max-width: 100%;
      overflow: auto;
      margin-bottom: 10px;
      display: table;
      border-collapse: collapse;
      margin: 0px;
      // background-color: rgb(238, 238, 238);
    }

    .row,
    .header-row {
      display: table-row;
      min-height: 36px !important;
    }
    .mat-row:hover {
      background-color: lightgrey;
    }
    .cell,
    .header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: fit-content;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
    }

    .header-row,
    .header-cell {
      margin: 0 auto;
      min-height: 100px !important;
      text-align: center;
      vertical-align: middle;
      align-self: center;
    }

    .mat-card {
      min-width: max-content;
      max-width: max-content;
    }

    .sort-header {
      display: flex;
      align-content: center;
      text-align: center;
      justify-content: center;
      font-size: 12pt;
    }

    .header-cell {
      font-weight: bold;
    }
  }
  .pbdiv-16 {
    padding-bottom: 16px;
  }
}
