<div id="containers" class="page-layout carded" fusePerfectScrollbar>
  <div fxLayout="column">
    <div fxFlex>
      <h1 style="align-content: left ; margin-left: 20px; font-size: 32px !important ; font-weight: 500 !important">
        Stack {{SRowDataStackName}} </h1>
    </div>
    <div style="height: 600px !important;">
      <div fxLayout="column" style="height: 100% ;margin-bottom: 24px !important;" fxLayoutAlign="end center">
        <div class="slotContainer" *ngFor="let data of SRowData; let i =index">
          <div class="slot">
            <img *ngIf="i==0" (click)="loadContainerdetails(data)" src="assets/images/dashboard/Container 1.png">
          </div>
          <div class="slot">
            <img *ngIf="i==1" (click)="loadContainerdetails(data)" src="assets/images/dashboard/Container 2.png">
          </div>
          <div class="slot">
            <img *ngIf="i==2" (click)="loadContainerdetails(data)" src="assets/images/dashboard/Container 3.png">
          </div>
          <div class="slot">
            <img *ngIf="i==3" (click)="loadContainerdetails(data)" src="assets/images/dashboard/Container 4.png">
          </div>
          <div class="slot">
            <img *ngIf="i==4" (click)="loadContainerdetails(data)" src="assets/images/dashboard/Container 2.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>