.filledClass {
  background-color: #5dc15d !important;
}
.slotContainer {
  cursor: pointer;
  margin-left: -300px !important;
  min-width: 75px !important;
  min-height: 100px !important;
}
.slot {
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: black;
}
.pbdiv-16 {
  padding-bottom: 16px;
}
img {
  width: 200px;
  height: 100px;
}

#containers {
  width:100%;
  overflow: hidden;
  background: url("/assets/images/backgrounds/Background1.png") no-repeat;
  background-size: 100% 100%;
}
// .containerclass {
//   background: url("/assets/images/backgrounds/Background1.png") no-repeat;
//   background-size: cover;
//   margin-bottom:10px;
// }